.profile_container {
    display: flex;
    padding: 1.2rem;
    height: 18rem;
    width: 26rem;
    background: #5746EA;
    border-radius: 2rem;
    overflow: hidden;
}

.profile_container img {
    height: 19rem;
    width: 8rem;
    border-radius: 0rem;
}

.user_details {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 2.5rem;
    color: #fff;
    font-size: var(--font-medium-s);
}

.user_details p:nth-child(3) {
    font-size: var(--font-medium-large);
    font-weight: 800;
}

.genre_cont {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.8rem;
    gap: 1rem;
    width: 18rem;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow: scroll;
}

.genre_cont p,
.genre_cont p:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 7rem;
    background: #9F94FF;
    border-radius: 1.4rem;
    font-size: var(--font-small);
    font-weight: 400;
}
